@use "./variables.scss" as *;

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: $purple-900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
