// colors

// Purple
$purple-600: #2a2c4e;
$purple-800: #1f2039;
$purple-900: #14192f;

// Neutrals

$white: #ffffff;
$neutral-400: #8f91a1;
$neutral-600: #707180;

// Border radius

$radius-1: 10.74px;
