@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.table-header {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__icon {
    height: 16px;
    width: 16px;
  }
  &__col-text {
    @include table-heading;
  }
  &__col {
    @include column;
  }
}
