@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

.wrapper {
  height: 100vh;
  max-width: 74%;
  margin: 3rem auto;
}

.hero {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  &__container {
    width: 50%;
    display: flex;
    &--left {
      @extend .hero__container;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--right {
      @extend .hero__container;
      width: fit-content;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;
    }
  }
  &__heading-1 {
    @include hero-heading-1;
    margin-bottom: 0.5rem;
  }
  &__heading-2 {
    @include hero-heading-2;
  }
}
